

.header {
  background-color: cornflowerblue;
  padding: 1rem;
}

.s1 {
  display: inline-block;
  border-color: green;
  border-width: 18px;
  border-style: solid;
  width: 70%;

}

.container {
  display: flex;

}

.title-margin {
  margin: 5px 0 5px;
}

p {
  padding: 5px;
  /* margin: 0; */
}

aside {
    display: inline-block;
    background-color: pink;
    width: 28%;
    float: right;
}

#wrapper {
  display: block;
}

@media screen and (max-width: 1822px) {
  aside {
    width: 26%;
  }

}
