

.header {
  background-color: cornflowerblue;
  padding: 1rem;
}

.s1 {
  display: block;
  border-color: green;
  border-width: 18px;
  border-style: solid;
  width: 70%;

}

.container {
  display: flex;
  flex-direction: row;

}

.title-margin {
  margin: 5px 0 5px;
}

p {
  padding: 5px;
  /* margin: 0; */
}

aside {
    display: block;
    background-color: pink;
    width: 28%;
    float: right;
    flex-shrink: 45;
}

#wrapper {
  display: block;
}

@media screen and (max-width: 1024px) {
  /* flex box allows this to not be necessary */
  aside {
    width: 40%;
  }

  .s1{
    width: 60%;
  }

}

@media screen and (max-width: 360px) {
  aside {
    width: 36%;
  }
}

/* @media screen and (min-width: 750px) {
  aside {
    width: 30%
  }
} */
